In [1]:
import pandas as pd
import numpy as np
import re as re

In [2]:
#df reading

df_ventas = pd.read_csv("D:/Escritorio/items_ordered_2years.csv", sep=",")

En este dataframe los duplicados son valores que no tienen valor, puesto que no puede haber dos productos con el mismo item_id. Por tanto, son valores que hay que eliminar

In [3]:
#Drop duplicates
df_ventas = df_ventas.drop_duplicates()

df_ventas

,num_order,item_id,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,city,zipcode
0,ce30c2f02458457e3c7b563a636ae2a1,0916c05c5c3f65f59d813a78ac35c8d2,2018-11-06 16:52:13,86434,1.0,9.3750,15.38,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,TARAZONA DE LA MANCHA,02100
1,ce30c2f02458457e3c7b563a636ae2a1,ff323b39ae36843396d2e53ce549fb10,2018-11-06 16:52:13,87652,1.0,7.0000,15.41,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,TARAZONA DE LA MANCHA,02100
2,ce30c2f02458457e3c7b563a636ae2a1,199916dffc95259f4d2daab6664ca9c0,2018-11-06 16:52:13,2785,1.0,9.1587,12.23,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,TARAZONA DE LA MANCHA,02100
3,83e75d608f11c8163599806420903ab9,8ca334ec2493501139327ce0165a1a84,2018-12-17 12:26:54,13000,5.0,13.7936,15.03,50.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,TARAZONA DE LA MANCHA,02100
4,9b687270d8e7eed9717022af5961a190,ce0a1683c6b1a0248b330344ec592ddf,2017-01-12 14:19:03,41947,1.0,5.5924,7.00,5.0,1679091c5a880faf6fb5e6087eb1b2dc,Alboraya,46120
...,...,...,...,...,...,...,...,...,...,...,...
930955,479ed436c26a511c4c3356e679bccbc9,37d700d54a6acc0ff49392cce34b6427,2018-12-30 23:51:57,1868,1.0,4.0700,4.79,10.0,d9cd4886b615a36059f72a74d7019113,Ubeda,23400
930956,479ed436c26a511c4c3356e679bccbc9,05fd04261f1c951b07f2ac3a67254d81,2018-12-30 23:51:57,23539,1.0,4.0700,5.35,10.0,d9cd4886b615a36059f72a74d7019113,Ubeda,23400
930957,bf923aa16e0608a5ed95347a9f411dce,8d8600ea4e451330f8614ba08ad4f047,2018-12-30 23:57:37,92793,1.0,33.7360,32.93,10.0,d73f27d3ab96df71f0fdc47511f326bc,Vic,08500
930958,bf923aa16e0608a5ed95347a9f411dce,b74b2e1a096c656a247142e24eefb738,2018-12-30 23:57:37,93036,1.0,0.0000,16.32,10.0,d73f27d3ab96df71f0fdc47511f326bc,Vic,08500
930959,bf923aa16e0608a5ed95347a9f411dce,fd0c1bb9a90dce3f3b2099990f019262,2018-12-30 23:57:37,11850,1.0,10.4414,12.53,10.0,d73f27d3ab96df71f0fdc47511f326bc,Vic,08500

In [4]:
df_ventas.nunique()

num_order           278045
item_id             906317
created_at          277896
product_id           26396
qty_ordered             57
base_cost            52202
price                 5028
discount_percent        45
customer_id         118799
city                 21012
zipcode              11132
dtype: int64

Sigue habiendo mas registros que valores Ãºnicos en item_id, lo cual indica que hay que revisar quÃ© puede estar generando esa duplicidad de id.

### ITEM_ID

In [5]:
df_ventas["item_id"].nunique()

906317

In [6]:
item_nu = df_ventas.groupby(
    "item_id", as_index=False
).size()

mascara = item_nu.iloc[:,1] > 1

item_repetidos = item_nu[mascara]

item_repetidos

                                 item_id  size
111     000802dde903f8282df756d2aab8d024     2
135     000a8c9981c4dc672abd207bdc1b85f7     2
236     001183d1253fa3d736eda6c92c826360     2
375     001b62e0e6c6fcf7fd771422bc91cb12     2
385     001bd90aa12b86fc11c4a416b3495cd5     2
...                                  ...   ...
906117  fff249858b2d160946da7b8613aa15da     2
906126  fff28e48c4498626a0add97bb3c9cb55     2
906144  fff3cf8f9ffdc3188bfb0b0546b37245     2
906292  fffe4633ea7afca58a2a1e68f2963f6b     2
906306  ffff1e771c21fcbfed80ea59dcb7bf5d     2

[8848 rows x 2 columns]

In [7]:
mascara2 = df_ventas["item_id"].isin(
    item_repetidos["item_id"].tolist()
)

df_ventas_repetido = df_ventas[mascara2].sort_values("item_id")

df_ventas_repetido

,num_order,item_id,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,city,zipcode
649241,8051708bf244ba8518b5e5b61a74486b,000802dde903f8282df756d2aab8d024,2018-12-17 23:32:08,7647,1.0,2.5438,3.00,5.0,c2d3e675fedd5555ee14b6441f0a8568,CORRALES DE BUELNA,39400
649259,8051708bf244ba8518b5e5b61a74486b,000802dde903f8282df756d2aab8d024,2018-12-17 23:32:08,7647,1.0,2.5438,3.00,5.0,c2d3e675fedd5555ee14b6441f0a8568,Corrales de buelna,39400
447200,6d19dedf8710788ea7d774c3fc977a9b,000a8c9981c4dc672abd207bdc1b85f7,2018-09-02 16:35:36,3076,2.0,6.3986,12.71,15.0,9bd04a4cc151456b49c699624bb83084,Granada,18009
447182,6d19dedf8710788ea7d774c3fc977a9b,000a8c9981c4dc672abd207bdc1b85f7,2018-09-02 16:35:36,3076,2.0,6.3986,12.71,15.0,9bd04a4cc151456b49c699624bb83084,Granada,18009
766220,27df73640a5bbe494d1db3e3bf16b906,001183d1253fa3d736eda6c92c826360,2018-08-07 09:29:02,2021,1.0,10.2800,15.87,5.0,0a6f053fb763ab1d4b6bef36ce683e53,barcelona,08025
...,...,...,...,...,...,...,...,...,...,...,...
370897,bfffc8aa56b415ede4538a4a022c771a,fff3cf8f9ffdc3188bfb0b0546b37245,2017-09-18 18:50:26,2503,2.0,5.0720,6.57,7.0,b6b909c1193aba68c413cc1442743ac7,MADRID,28002
91194,d69c15626b6406bbcc1384407e75a075,fffe4633ea7afca58a2a1e68f2963f6b,2018-10-31 09:23:06,3290,1.0,4.1466,5.59,8.0,91ae48805e8e96055d454f043054059b,Alameda de la Sagra,45240
91255,d69c15626b6406bbcc1384407e75a075,fffe4633ea7afca58a2a1e68f2963f6b,2018-10-31 09:23:06,3290,1.0,4.1466,5.59,8.0,91ae48805e8e96055d454f043054059b,PANTOJA,45290
803228,4f8b96d2253a9d4a6ad4672b4e228c48,ffff1e771c21fcbfed80ea59dcb7bf5d,2018-04-23 20:52:23,68375,1.0,5.2100,6.95,5.0,a99855ff1ad46db840df3a48bf075d17,CANGAS,36940
803223,4f8b96d2253a9d4a6ad4672b4e228c48,ffff1e771c21fcbfed80ea59dcb7bf5d,2018-04-23 20:52:23,68375,1.0,5.2100,6.95,5.0,a99855ff1ad46db840df3a48bf075d17,POIO,36163

Las duplicidades del item_id aparecen debido a presumiblemente errores en el zipcode/city. Se tratarÃ¡ despues de corregir las columnas de city y zipcode

### NULOS

In [8]:
df_ventas.isna().sum()

num_order              0
item_id                0
created_at             0
product_id             0
qty_ordered            0
base_cost           2358
price                  0
discount_percent       0
customer_id            0
city                2910
zipcode             2910
dtype: int64

Valores nulos en zipcode y city similares. Pueden ser coincidentes.

In [9]:
mascara_na = df_ventas["zipcode"].notna()
df_ventas[mascara_na ].isna().sum()

num_order              0
item_id                0
created_at             0
product_id             0
qty_ordered            0
base_cost           2355
price                  0
discount_percent       0
customer_id            0
city                   0
zipcode                0
dtype: int64

Efectivamente, al filtrar por zipcodes que no tuvieran na en la columa zipcode desaparecÃ­an los valores perdidos en la de city.
Esos registros dificilmente pueden ser imputados por algoritmos como randomforest o knn, sin arriesgarse a estar aÃ±adiendo informaciÃ³n de forma casi aleatoria.
Por ello, se prescindirÃ¡ de esos registros.

In [10]:
df_ventas = df_ventas[mascara_na]

### ZIPCODE

In [11]:
df_ventas["longitud_zip"] = df_ventas["zipcode"].dropna().apply(len)
df_ventas["longitud_zip"].unique().tolist()

<ipython-input-11-ba160d12069f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ventas["longitud_zip"] = df_ventas["zipcode"].dropna().apply(len)

[5,
 2,
 8,
 4,
 6,
 7,
 3,
 15,
 10,
 9,
 1,
 14,
 17,
 11,
 12,
 16,
 19,
 21,
 24,
 18,
 22,
 13,
 20,
 25,
 29,
 26,
 27,
 28,
 23,
 31]

Funciones para limpieza de city y zipcode

In [12]:
#Limpieza de zipcodes con RegEx
def num_guion(string):
    """ Get a string with the numbers and hyphens of another string
    
    Args:
        df: string used to extract the string with numbers abd hyphens

    Returns:
        df: the string with numbers and hyphens
    """
    aux = re.match("([\d-]+)", str(string))
    try:
        return str(aux.group())
    except:
        return string


# Limpieza de nombres de ciudad

# def AcentosLimpiador(text):
# 	acentos = {'Ã±':'n','Ã¡': 'a', 'Ã©': 'e', 'Ã­': 'i', 'Ã³': 'o', 'Ãº': 'u', 'Ã ':'a'}
# 	for ele in acentos:
# 		if ele in text:
# 			text = text.replace(ele, acentos[ele])
# 	return text

# def CityCleaner(text):
#     stopWordSpanish = set(stopwords.words('spanish'))
#     wordTokens = word_tokenize(AcentosLimpiador(text.lower()).rstrip()) 
#     filteredSentence = [element for element in wordTokens if not element in stopWordSpanish] 
#     return filteredSentence

Limpieza de ambas columnas para facilitar el merge con la tabla de zipcodes

In [13]:
# Limpieza zipcode
df_ventas["zipcode"] = df_ventas["zipcode"].apply(lambda x: num_guion(x))
# df_ventas["city"] = df_ventas["city"].apply(lambda x: CityCleaner(x))
# df_ventas["city"] = df_ventas["city"].apply(lambda x: "".join(x))

<ipython-input-13-3e99c0eed5f2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ventas["zipcode"] = df_ventas["zipcode"].apply(lambda x: num_guion(x))

Se carga el dataframe con la informaciÃ³n de privincias, paÃ­ses, zipcodes y ciudades.

In [14]:
zipcodes_csv = pd.read_csv("DataScrapped.csv")
zipcodes_csv.drop("Unnamed: 0", axis=1, inplace=True)
zipcodes_csv.drop_duplicates(inplace=True)

In [15]:
zipcodes_csv

         Country                Region                   City   Zipcode
0          Spain  Castilla - La Mancha  Tarazona De La Mancha     02100
4          Spain  Comunidad Valenciana               Alboraya     46120
74         Spain  Comunidad Valenciana               Benidorm     03503
76         Spain  Castilla - La Mancha    Yunquera De Henares     19210
88         Spain              Cataluna  Cornella De Llobregat     08940
...          ...                   ...                    ...       ...
929904  Portugal                 Porto                  Grijo  4415-430
929965  Portugal                Lisboa            Mem Martins  2725-590
930087  Portugal                Lisboa                 Lisboa  2620-459
930101  Portugal                 Porto              Rio Tinto  4435-644
930183  Portugal                 Porto                 Alfena  4445-151

[10817 rows x 4 columns]

Se genera una copia del dataframe con las columnas city y zipcode para un primer join/merge

In [16]:
# Nombres de las columnas a minuscula

column_list = zipcodes_csv.columns.tolist()
for i in range(len(column_list)):
    column_list[i] = column_list[i].lower()
zipcodes_csv.columns = column_list

# Obtener dataframe con solo city y zipcode, y pasar city a minusculas para facilitar el match

# zipcodes_to_join = zipcodes_csv.loc[:, ["zipcode", "city"]]
# zipcodes_to_join["city"] = zipcodes_to_join["city"].apply(lambda x: CityCleaner(x))
# zipcodes_to_join["city"] = zipcodes_to_join["city"].apply(lambda x: "".join(x))

Para obtener aquellos zipcodes que estÃ©n mal escritos pero que estÃ©n bien la ciudad, se realiza un primer merge por columna city

In [17]:

df_ventas.drop("city", inplace=True, axis=1)

C:\Users\Daniel\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
df_ventas_2 = df_ventas.merge(zipcodes_csv, how="left", on="zipcode")

In [19]:
df_ventas_2

,num_order,item_id,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,zipcode,longitud_zip,country,region,city
0,ce30c2f02458457e3c7b563a636ae2a1,0916c05c5c3f65f59d813a78ac35c8d2,2018-11-06 16:52:13,86434,1.0,9.3750,15.38,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,02100,5,Spain,Castilla - La Mancha,Tarazona De La Mancha
1,ce30c2f02458457e3c7b563a636ae2a1,ff323b39ae36843396d2e53ce549fb10,2018-11-06 16:52:13,87652,1.0,7.0000,15.41,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,02100,5,Spain,Castilla - La Mancha,Tarazona De La Mancha
2,ce30c2f02458457e3c7b563a636ae2a1,199916dffc95259f4d2daab6664ca9c0,2018-11-06 16:52:13,2785,1.0,9.1587,12.23,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,02100,5,Spain,Castilla - La Mancha,Tarazona De La Mancha
3,83e75d608f11c8163599806420903ab9,8ca334ec2493501139327ce0165a1a84,2018-12-17 12:26:54,13000,5.0,13.7936,15.03,50.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,02100,5,Spain,Castilla - La Mancha,Tarazona De La Mancha
4,9b687270d8e7eed9717022af5961a190,ce0a1683c6b1a0248b330344ec592ddf,2017-01-12 14:19:03,41947,1.0,5.5924,7.00,5.0,1679091c5a880faf6fb5e6087eb1b2dc,46120,5,Spain,Comunidad Valenciana,Alboraya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912250,479ed436c26a511c4c3356e679bccbc9,37d700d54a6acc0ff49392cce34b6427,2018-12-30 23:51:57,1868,1.0,4.0700,4.79,10.0,d9cd4886b615a36059f72a74d7019113,23400,5,Spain,Andalucia,Ubeda
912251,479ed436c26a511c4c3356e679bccbc9,05fd04261f1c951b07f2ac3a67254d81,2018-12-30 23:51:57,23539,1.0,4.0700,5.35,10.0,d9cd4886b615a36059f72a74d7019113,23400,5,Spain,Andalucia,Ubeda
912252,bf923aa16e0608a5ed95347a9f411dce,8d8600ea4e451330f8614ba08ad4f047,2018-12-30 23:57:37,92793,1.0,33.7360,32.93,10.0,d73f27d3ab96df71f0fdc47511f326bc,08500,5,Spain,Cataluna,Vic
912253,bf923aa16e0608a5ed95347a9f411dce,b74b2e1a096c656a247142e24eefb738,2018-12-30 23:57:37,93036,1.0,0.0000,16.32,10.0,d73f27d3ab96df71f0fdc47511f326bc,08500,5,Spain,Cataluna,Vic
912254,bf923aa16e0608a5ed95347a9f411dce,fd0c1bb9a90dce3f3b2099990f019262,2018-12-30 23:57:37,11850,1.0,10.4414,12.53,10.0,d73f27d3ab96df71f0fdc47511f326bc,08500,5,Spain,Cataluna,Vic

In [20]:
mascara_null_2 = df_ventas_2["city"].notna()
df_ventas_2 = df_ventas_2[mascara_null_2]

In [21]:
df_ventas_2.drop_duplicates(inplace=True)

<ipython-input-21-f41a39941517>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ventas_2.drop_duplicates(inplace=True)

### Solucionar el problema de id duplicadas

Se parte de la hipÃ³tesis de que son registros que se han duplicado al hacerse una correcciÃ³n sobre la ubicaciÃ³n donde se mandaba el producto pero que no se eliminÃ³ el registro anerior. No se puede saber cual es el correcto, por lo que se decide tomar uno de los dos valores de forma alaetoria, que solo afectarÃ¡ a la ciudad/zipcode, mateniendose la comunidad y paÃ­s de igual manera.

In [22]:
#Diccionario de la funciÃ³n de agregaciÃ³n por campo

list_columns = df_ventas_2.drop("item_id", axis = 1).columns.to_list()
list_agg = ["first"] * len(list_columns)
dict_agg = dict(zip(list_columns, list_agg))

In [23]:
# Nos deshacemos de los duplicados

df_ventas_3 = df_ventas_2.groupby(
    "item_id", as_index=False
).agg(dict_agg)

df_ventas_3

,item_id,num_order,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,zipcode,longitud_zip,country,region,city
0,000010d95384a6ba3d57dd870e7b337c,65717498f0771a49497d80f11160093c,2017-09-22 15:46:37,5645,1.0,7.4441,10.38,7.0,da5b59745c6a4699dee7684eba901bba,28028,5,Spain,Madrid,Madrid
1,00001a8fb0bd42b1e16ba731e30cc490,09b538e85ce396ecbb70695f91007830,2018-09-12 21:27:08,28743,2.0,35.3166,43.08,7.0,531a918355010bacbe506243a5f05c30,12194,5,Spain,Comunidad Valenciana,Vall D'alba
2,0000302bc9b9a670dfcb14381555ff45,bc150db52b5a565d31b1c70969638ca9,2018-11-19 16:36:10,9999,1.0,2.4673,3.29,20.0,e63460a423099250ab43fe0acb370ff5,11340,5,Spain,Andalucia,San Martin Del Tesorillo
3,000039147df4aacf0aa8b3a552e8ecdb,434cf1eaf255b367ce2d3343bb96b1fe,2017-09-06 12:08:44,68986,1.0,27.3680,33.88,5.0,14e6f6400d1c114d509844be3687cb19,48901,5,Spain,Pais Vasco,Barakaldo
4,000091029a220c2fdf12700f07f70b1d,f268c24275ad1d887925fca2909e2c2d,2018-09-29 09:45:14,9692,1.0,3.1200,3.81,5.0,872bd419dfb24caf4f996a2cd2b8a9b4,28008,5,Spain,Madrid,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901803,ffffcab8d90531eb181770c6979a25c5,ddebdd2e96c0af88169812543cca4e90,2018-01-30 07:41:48,50723,2.0,2.6550,3.44,7.0,448855207b463acb21f855f6e93adfe6,22232,5,Spain,Aragon,Ontinena
901804,ffffd2318b3b7227a72206ebad6ebcf9,633a904ed0b773aa5b9f75b23da5faa5,2018-11-12 10:45:17,1089,1.0,1.3200,1.79,11.0,12cb24bf9ba9b879e11409397f6486c4,GRANADA,7,ERROR,ERROR,ERROR
901805,ffffdb6626d303a2915f7248e1201ea2,b3c97179df3c20a0b40843d617ed51a4,2018-04-24 07:32:20,6751,4.0,12.7800,17.03,5.0,6d269012ca2b80ad9a2b95edbf188492,28945,5,Spain,Madrid,Fuenlabrada
901806,ffffdfbe1fc5a6d3774cdb06ba1a40b6,59c450800ebc728303dc6f36c23fc71a,2018-12-10 23:43:17,7489,1.0,12.7680,17.50,7.0,71b46eaa6f118ba5bc8bffde86a91b39,33204,5,Spain,Asturias,Gijon
901807,fffff11a61465208298da3e202be52e2,a4a7e67a53b133797747d517ce284df0,2018-09-01 17:21:24,11357,1.0,12.0400,15.05,15.0,e7214466de1836a777fa3fc3da71b7aa,28922,5,Spain,Madrid,Alcorcon

In [24]:
#ExportaciÃ³n de ventas_1

df_ventas_3.to_csv('df_ventas_1.csv')