In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
# Carga del dataframe de ventas depurado

df_ventas = pd.read_csv("df_ventas_1.csv", sep=",")

### Tratamiento del campo hora para obtener variables de cara a la visualización/modelos

In [5]:
# Obtención de distintos campos de fecha

# Campo sin horas
df_ventas["date"] = df_ventas["created_at"].apply(lambda x: x[0:10])

# Capo de año
df_ventas["year"] = df_ventas["created_at"].apply(lambda x: x[0:4])

# Campo de horas por franja
df_ventas["hour"] = df_ventas["created_at"].apply(lambda x: x[11:13])


# Campo de numero de semana (del 1 al 104)
df_ventas["week"] = df_ventas["date"]
df_ventas["week"] = df_ventas["week"].apply(lambda _: dt.datetime.strptime(_,"%Y-%m-%d"))
df_ventas["week"] = df_ventas["week"].dt.isocalendar().week
df_ventas["week"][df_ventas["year"] == "2018"] = df_ventas["week"][df_ventas["year"] == "2018"] + 52

# Campo dia de la semana
df_ventas["date"] = pd.to_datetime(df_ventas["date"])
df_ventas["day"] = df_ventas["date"].apply(lambda x: pd.Timestamp(x).day_name())

In [6]:
df_ventas["margin_total"] = (df_ventas["price"] - df_ventas["base_cost"]) * df_ventas["qty_ordered"]
df_ventas["price_total"] = df_ventas["price"] * df_ventas["qty_ordered"]

In [13]:
df_ventas

,item_id,num_order,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,zipcode,...,country,region,city,date,year,hour,week,day,margin_total,price_total
0,000010d95384a6ba3d57dd870e7b337c,65717498f0771a49497d80f11160093c,2017-09-22 15:46:37,5645,1.0,7.4441,10.38,7.0,da5b59745c6a4699dee7684eba901bba,28028,...,Spain,Madrid,Madrid,2017-09-22,2017,15,38,Friday,2.9359,10.38
1,00001a8fb0bd42b1e16ba731e30cc490,09b538e85ce396ecbb70695f91007830,2018-09-12 21:27:08,28743,2.0,35.3166,43.08,7.0,531a918355010bacbe506243a5f05c30,12194,...,Spain,Comunidad Valenciana,Vall D'alba,2018-09-12,2018,21,89,Wednesday,15.5268,86.16
2,0000302bc9b9a670dfcb14381555ff45,bc150db52b5a565d31b1c70969638ca9,2018-11-19 16:36:10,9999,1.0,2.4673,3.29,20.0,e63460a423099250ab43fe0acb370ff5,11340,...,Spain,Andalucia,San Martin Del Tesorillo,2018-11-19,2018,16,99,Monday,0.8227,3.29
3,000039147df4aacf0aa8b3a552e8ecdb,434cf1eaf255b367ce2d3343bb96b1fe,2017-09-06 12:08:44,68986,1.0,27.3680,33.88,5.0,14e6f6400d1c114d509844be3687cb19,48901,...,Spain,Pais Vasco,Barakaldo,2017-09-06,2017,12,36,Wednesday,6.5120,33.88
4,000091029a220c2fdf12700f07f70b1d,f268c24275ad1d887925fca2909e2c2d,2018-09-29 09:45:14,9692,1.0,3.1200,3.81,5.0,872bd419dfb24caf4f996a2cd2b8a9b4,28008,...,Spain,Madrid,Madrid,2018-09-29,2018,09,91,Saturday,0.6900,3.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901803,ffffcab8d90531eb181770c6979a25c5,ddebdd2e96c0af88169812543cca4e90,2018-01-30 07:41:48,50723,2.0,2.6550,3.44,7.0,448855207b463acb21f855f6e93adfe6,22232,...,Spain,Aragon,Ontinena,2018-01-30,2018,07,57,Tuesday,1.5700,6.88
901804,ffffd2318b3b7227a72206ebad6ebcf9,633a904ed0b773aa5b9f75b23da5faa5,2018-11-12 10:45:17,1089,1.0,1.3200,1.79,11.0,12cb24bf9ba9b879e11409397f6486c4,GRANADA,...,ERROR,ERROR,ERROR,2018-11-12,2018,10,98,Monday,0.4700,1.79
901805,ffffdb6626d303a2915f7248e1201ea2,b3c97179df3c20a0b40843d617ed51a4,2018-04-24 07:32:20,6751,4.0,12.7800,17.03,5.0,6d269012ca2b80ad9a2b95edbf188492,28945,...,Spain,Madrid,Fuenlabrada,2018-04-24,2018,07,69,Tuesday,17.0000,68.12
901806,ffffdfbe1fc5a6d3774cdb06ba1a40b6,59c450800ebc728303dc6f36c23fc71a,2018-12-10 23:43:17,7489,1.0,12.7680,17.50,7.0,71b46eaa6f118ba5bc8bffde86a91b39,33204,...,Spain,Asturias,Gijon,2018-12-10,2018,23,102,Monday,4.7320,17.50
901807,fffff11a61465208298da3e202be52e2,a4a7e67a53b133797747d517ce284df0,2018-09-01 17:21:24,11357,1.0,12.0400,15.05,15.0,e7214466de1836a777fa3fc3da71b7aa,28922,...,Spain,Madrid,Alcorcon,2018-09-01,2018,17,87,Saturday,3.0100,15.05

In [11]:
df_ventas.drop("Unnamed: 0", inplace=True, axis = 1)

In [12]:
df_ventas.to_csv('df_ventas_2.csv')